<!---
This is the HTML file that displays your landing page using vue.js
--->
{% extends "base.html" %}

{% block title %}
Vue.js Landing Page
{% endblock %}


{% block start_script %}
<script>
    var js_result_1 = '{{result_1}}'
    var js_result_2 = '{{result_2}}'
    var js_result_3 = '{{result_3}}'
</script>
<div id="data_result_1" style="display: none;">{{result_1}}</div>
{% endblock %}

<!--
██████╗  ██████╗ ██████╗ ██╗   ██╗
██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
██████╔╝██║   ██║██║  ██║ ╚████╔╝ 
██╔══██╗██║   ██║██║  ██║  ╚██╔╝  
██████╔╝╚██████╔╝██████╔╝   ██║   
╚═════╝  ╚═════╝ ╚═════╝    ╚═╝   
-->
{% block content %}
    <section id="main" class="wrapper style1">
        <header class="major">
            <div class='container'>
                <h2> Automatic Budget </h2>
            </div>
        </header>
        <div class='container'>
        <div id='app'>  <!-- id = 'app' is crutial -->
            <div align='center'>   
                <div class = 'row'>
                    <div class = "4u">&nbsp</div>
                    <div v-show="show_alert" class="4u error"><h1 class="error">[[temp_alert]]</h1></div>
                </div>
                <form id="myform" method="POST" action="">
                    <!---
                    ▄▀▀▀▄ ▄▀▀▀ ▄▀▀▀ ▄▀▀▀▀▄ █   █ █▄    █ ▀▀█▀▀    ▄▀▀▀▀ █▀▀▀ █    █▀▀▀ ▄▀▀▀ ▀▀█▀▀ ▀▀█▀▀ ▄▀▀▀▀▄ █▄    █ 
                    █▄▄▄█ █    █    █    █ █   █ █ ▀▄  █   █      ▀▄▄▄  █▄▄  █    █▄▄  █      █     █   █    █ █ ▀▄  █ 
                    █   █ █    █    █    █ █   █ █   ▀▄█   █          █ █    █    █    █      █     █   █    █ █   ▀▄█ 
                    ▀   ▀  ▀▀▀  ▀▀▀  ▀▀▀▀   ▀▀▀  ▀     ▀   ▀      ▀▀▀▀  ▀▀▀▀ ▀▀▀▀ ▀▀▀▀  ▀▀▀   ▀   ▀▀▀▀▀  ▀▀▀▀  ▀     ▀ 
                    --->
                    <div class="row">
                        <div class="4u">
                            <div v-if="statement_account_names" class="select-wrapper">
                                <select v-model="current_account" @change="change_account($event.target.value);">
                                    <option :value="null">-</option>
                                    <option v-for="account in Object.keys(statement_account_names)" :value="account" :key="account">[[ statement_account_names[account] ]] - [[account]]</option>
                                </select>
                            </div>
                        </div> 
                        <div class="4u">
                            &nbsp
                        </div> 
                        <div class="4u">
                            <a class="button fit" @click="reset('all')">reset</a>
                        </div> 
                    </div>
                    <br>
                    <!---
                    ▀▀█▀▀ █▀▀▀▄ ▄▀▀▀▄ █▄    █ ▄▀▀▀▀ ▄▀▀▀▄ ▄▀▀▀ ▀▀█▀▀ ▀▀█▀▀ ▄▀▀▀▀▄ █▄    █    ▄▀▀▀▀ █▀▀▀ █    █▀▀▀ ▄▀▀▀ ▀▀█▀▀ ▀▀█▀▀ ▄▀▀▀▀▄ █▄    █ 
                      █   █▄▄▄▀ █▄▄▄█ █ ▀▄  █ ▀▄▄▄  █▄▄▄█ █      █     █   █    █ █ ▀▄  █    ▀▄▄▄  █▄▄  █    █▄▄  █      █     █   █    █ █ ▀▄  █ 
                      █   █  ▀█ █   █ █   ▀▄█     █ █   █ █      █     █   █    █ █   ▀▄█        █ █    █    █    █      █     █   █    █ █   ▀▄█ 
                      ▀   ▀   ▀ ▀   ▀ ▀     ▀ ▀▀▀▀  ▀   ▀  ▀▀▀   ▀   ▀▀▀▀▀  ▀▀▀▀  ▀     ▀    ▀▀▀▀  ▀▀▀▀ ▀▀▀▀ ▀▀▀▀  ▀▀▀   ▀   ▀▀▀▀▀  ▀▀▀▀  ▀     ▀ 
                    --->
                    <div class="row">
                        <div class="4u">
                            <ul class="actions fit">
                                <li><a @click.prevent="prev_transaction(1)" @click.ctrl.prevent="prev_transaction(10)" @click.alt.prevent="prev_transaction(50)" class="button fit">Back</a></li>
                                <li><a @click.prevent="next_transaction(1)" @click.ctrl.prevent="next_transaction(10)" @click.alt.prevent="next_transaction(50)" class="button fit">Next</a></li>
                            </ul>
                            <ul class="actions fit">
                                <li><a @click.prevent="reset('index')" class="button fit">to start</a></li>
                                <li><button @click.prevent="next_transaction('new')" class="button fit">Next new</button></li>
                            </ul>
                        </div> 
                        <div class="8u table-wrapper">			
                            <table>
                                <thead>
                                    <tr>
                                        <th>no.</th>
                                        <th>Exists</th>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <!-- code to update current_transaction -->
                                <div v-show="false">[[get_current_transaction]]</div>
                                <tbody>
                                    <tr>
                                        <td>[[transaction_index + 1]]</td>
                                        <td>[[transaction_classified? "Yes": ""]]</td>
                                        <td v-if="current_transaction">[[current_transaction.date]]</td>
                                        <td v-if="current_transaction">[[current_transaction.description]]</td>
                                        <td v-if="current_transaction">[[current_transaction.amount]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    <br> 
                    <!---
                    █▀▀▀ ▀▄   ▄▀ ▀▀█▀▀ █▀▀▀▄ ▄▀▀▀▄ 
                    █▄▄    ▀▄▀     █   █▄▄▄▀ █▄▄▄█ 
                    █     ▄▀ ▀▄    █   █  ▀█ █   █ 
                    ▀▀▀▀ ▀     ▀   ▀   ▀   ▀ ▀   ▀ 
                    ---->
                    <div class = "row">
                        <div class = "3u">Tax:</div>
                        <div class = "3u"><input type="text" name="user" placeholder="tax" v-model="tax"></div>
                    </div>
                    <br>
                    <!---
                    █▄   ▄█ ▄▀▀▀▀▄ █   █ █▀▀▀ █▄   ▄█ █▀▀▀ █▄    █ ▀▀█▀▀    ▄▀▀▀▀ █▀▀▀ █    █▀▀▀ ▄▀▀▀ ▀▀█▀▀ ▀▀█▀▀ ▄▀▀▀▀▄ █▄    █ 
                    █ ▀▄▀ █ █    █ ▀▄ ▄▀ █▄▄  █ ▀▄▀ █ █▄▄  █ ▀▄  █   █      ▀▄▄▄  █▄▄  █    █▄▄  █      █     █   █    █ █ ▀▄  █ 
                    █     █ █    █  █ █  █    █     █ █    █   ▀▄█   █          █ █    █    █    █      █     █   █    █ █   ▀▄█ 
                    ▀     ▀  ▀▀▀▀    ▀   ▀▀▀▀ ▀     ▀ ▀▀▀▀ ▀     ▀   ▀      ▀▀▀▀  ▀▀▀▀ ▀▀▀▀ ▀▀▀▀  ▀▀▀   ▀   ▀▀▀▀▀  ▀▀▀▀  ▀     ▀ 
                    --->
                    <div v-if="movement_types" class = "row fit">
                        <div class = "3u">
                            <a class="button fit" @click="reset('movement')">reset movement</a></li>
                        </div>
                        <div class = "3u">
                            <div class="select-wrapper">
                                <select v-model="current_movement_type" @change="current_movement_type = $event.target.value">
                                    <option :value="null">-</option>
                                    <option v-for="movement_type in movement_types" :value="movement_type" key="movement_type">[[movement_type]]</option>
                                </select>
                            </div>
                        </div>
                               <!---
                            █▀▀▀▄ █▀▀▀ ▄▀▀▀▀ ▄▀▀▀ █▀▀▀▄ ▀▀█▀▀ █▀▀▄ ▀▀█▀▀ ▀▀█▀▀ ▄▀▀▀▀▄ █▄    █ 
                            █   █ █▄▄  ▀▄▄▄  █    █▄▄▄▀   █   █▄▄▀   █     █   █    █ █ ▀▄  █ 
                            █   █ █        █ █    █  ▀█   █   █      █     █   █    █ █   ▀▄█ 
                            ▀▀▀▀  ▀▀▀▀ ▀▀▀▀   ▀▀▀ ▀   ▀ ▀▀▀▀▀ ▀      ▀   ▀▀▀▀▀  ▀▀▀▀  ▀     ▀ 
                            --->
                        <div class = "3u">
                            <a class="button fit" @click="reset('description')">clear description</a>
                        </div>
                        <div class = "1u"><span style="font-size: 1em;">Description:</span></div>
                        <div class = "2u" ><input type="text" name="user" placeholder="short description" v-model="short_description"></div>
                    </div>
                    <br/>
                    <!---
                    ▄▀▀▀ ▄▀▀▀▀▄ █▀▀▀▄ █▀▀▀ 
                    █    █    █ █   █ █▄▄  
                    █    █    █ █   █ █    
                     ▀▀▀  ▀▀▀▀  ▀▀▀▀  ▀▀▀▀ 
                    --->
                    <div v-if="current_movement_type != 'transfer'">
                        <div>
                            <ul class="actions fit">
                                <li><a class="button fit" @click="reset('code')">clear code</a></li>
                                <li v-if="description_levels.level_1" >
                                    <div class="select-wrapper">
                                        <select v-model="selected_code[0]" @change="set_description($event.target.value, 0)">
                                            <option :value="null">-</option>
                                            <option v-for="code in Object.keys(description_levels.level_1)" :value="code" key="code">[[code]] - [[description_levels.level_1[code].description]]</option>
                                        </select>
                                    </div>
                                </li>
                                <li v-if="description_levels.level_2"  v-for="level_index in (level_depth - 1)"> <!--- Object.keys(description_levels.level_2).length"> --->
                                    <div v-if="selected_levels[level_index] && (Object.keys(selected_levels[level_index]).length > 0)" class="select-wrapper">
                                        <select name="category" id="category" v-model="selected_code[level_index]" @change="set_description($event.target.value, level_index)">
                                            <option :value="null">-</option>
                                            <option v-for="code in Object.keys(selected_levels[level_index])" :value="code" key="code">[[code]] - [[selected_levels[level_index][code].description]]</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class = "4u">
                                <a class="button fit" @click="reset('tag')">clear tag</a>
                            </div>
                            <div class = "4u">
                                <ul class="actions fit">
                                    <li v-if="description_levels.level_3"  v-for="level_index in (tag_level_depth)">
                                        <div v-if="tag_selected_levels[level_index - 1] && (Object.keys(tag_selected_levels[level_index - 1]).length > 0)" class="select-wrapper">
                                            <select name="category" id="category" v-model="code_tag.selected_tag[level_index - 1]" @change="set_description($event.target.value, level_index - 1, true)">
                                                <option :value="null">-</option>
                                                <option v-for="code in Object.keys(tag_selected_levels[level_index - 1])" :value="code" key="code">[[code]] - [[tag_selected_levels[level_index - 1][code].description]]</option>
                                            </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class = "4u">
                                <input type="text" name="user" placeholder="short description" v-model="code_tag.extra">
                            </div>
                        </div>
                    </div>
                    <!---
                    ▀█▀ █▀█ ▄▀█ █▄ █ █▀ █▀▀ █▀▀ █▀█ 
                     █  █▀▄ █▀█ █ ▀█ ▄█ █▀  ██▄ █▀▄ 
                    ---->
                    <div v-if="current_movement_type == 'transfer'" class ="row">
                        <div class = "4u">
                            <a class="button fit" @click.prevent="reset('transfer')">clear transfer</a>
                        </div>
                        <div class="4u">
                            <div v-if="account_names" class="select-wrapper">
                                <select v-model="transfer_account" @change="transfer_account = $event.target.value;">
                                    <option :value="null">-</option>
                                    <option v-for="account in Object.keys(account_names)" :value="account" :key="account">[[ account_names[account] ]] - [[account]]</option>
                                </select>
                            </div>
                        </div> 
                        <div class = "4u">
                            <input type="text" name="user" placeholder="extra transfer" v-model="transfer_account_extra">
                        </div>
                    </div>
                    <!---
                    █▀▀▄ █▀▀▀▄ ▀▀█▀▀ █▄    █ ▀▀█▀▀ ▀▀█▀▀ █▄    █ ▄▀▀▀▀    ▄▀▀▀▀▄ █   █ ▀▀█▀▀ █▀▀▄ █   █ ▀▀█▀▀ 
                    █▄▄▀ █▄▄▄▀   █   █ ▀▄  █   █     █   █ ▀▄  █ █  ▄▄    █    █ █   █   █   █▄▄▀ █   █   █   
                    █    █  ▀█   █   █   ▀▄█   █     █   █   ▀▄█ █   █    █    █ █   █   █   █    █   █   █   
                    ▀    ▀   ▀ ▀▀▀▀▀ ▀     ▀   ▀   ▀▀▀▀▀ ▀     ▀  ▀▀▀▀     ▀▀▀▀   ▀▀▀    ▀   ▀     ▀▀▀    ▀   
                    --->
                    <div class="center">			
                        <table>
                            <thead>
                                <tr>
                                    <th>Movement</th>
                                    <th>Amount</th>
                                    <th>[[current_movement_type != 'transfer'? 'Where' : 'From']]</th>
                                    <th>[[current_movement_type != 'transfer'? 'Why' : 'To']]</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <span v-show="false" ></span>
                                <tr v-if="current_transaction">
                                    <td>[[current_movement_type]]</td>
                                    <td>[[current_transaction.amount]]</td>
                                    <td>[[ account_names[current_account] ]]</td>
                                    <td>[[current_movement_type != 'transfer'? calculate_initial_code : (account_names[transfer_account] + transfer_account_extra)]]</td>
                                    <td>[[short_description]]</td>
                                    <td>[[current_transaction.date]]</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <!-- <p>Age: [[data.age ]]</p> -->
                    </div>
                    <!---
                    ▄▀▀▀▀ █   █ █▀▀▀▄ █▄   ▄█ ▀▀█▀▀ ▀▀█▀▀ 
                    ▀▄▄▄  █   █ █▄▄▄▀ █ ▀▄▀ █   █     █   
                        █ █   █ █   █ █     █   █     █   
                    ▀▀▀▀   ▀▀▀  ▀▀▀▀  ▀     ▀ ▀▀▀▀▀   ▀   
                    --->
                    <div v-if="current_transaction != null" class="row">
                        <div class="4u">
                            <div v-if="!new_data">&nbsp</div>
                            <button v-if="new_data" class="button fit" name="Submit" @click.prevent="submit_transaction()">commit</button>
                        </div>
                        <div class="4u right">[[ are_you_sure_message != "" ? 'are your sure?' + are_you_sure_message : commit_message]]</div>
                        <div class="4u"><a v-if="are_you_sure_message != ''"  class="button fit" name="Submit" @click.prevent="submit_transaction(true)">yes</a></div>
                        
                    </div>
                </form>  
            </div>
        </div>
    </div>
{% endblock %}

{% block end_script %}
<!-- Include main.js from static directory -->
<script type="module" src="/static/main.js"></script>
</script>


{% endblock %}