<!---
This is the HTML file that displays your landing page using vue.js
--->
{% extends "base.html" %}

{% block title %}
Vue.js Landing Page
{% endblock %}


{% block start_script %}
<script>
    var js_result_1 = '{{result_1}}'
    var js_result_2 = '{{result_2}}'
    var js_result_3 = '{{result_3}}'
</script>
<div id="data_result_1" style="display: none;">{{result_1}}</div>
{% endblock %}

<!--
██████╗  ██████╗ ██████╗ ██╗   ██╗
██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
██████╔╝██║   ██║██║  ██║ ╚████╔╝ 
██╔══██╗██║   ██║██║  ██║  ╚██╔╝  
██████╔╝╚██████╔╝██████╔╝   ██║   
╚═════╝  ╚═════╝ ╚═════╝    ╚═╝   
-->
{% block content %}
    <section id="main" class="wrapper style1">
        <header class="major">
            <div class='container'>
                <h2> Contact Us </h2>
            </div>
        </header>
        <div class='container'>
        <div id='app'>  <!-- id = 'app' is crutial -->
            <div align='center'>   
                <h1>Please enter a message and parameters</h1>
                <form id="myform" method="POST" action="">
                    <br>
                    <div>
                        <span style="font-size: 2em;">Text:</span>      
                        <input id="textToPrint" style="width: 30%;" type="text" name="user" placeholder="Text">
                    </div>
                    <br/>
                    <div>
                        <ul class="actions fit">
                            <li><a class="button fit" @click="printValue('hello')">Fit</a></li>
                            <li v-if="description_levels.level_1" >
                                <div class="select-wrapper">
                                    <select v-model="selected_index[0]" @change="set_description($event.target.value, 0)">
                                        <option>-</option>
                                        <option v-for="(level, index) in description_levels.level_1" :value="index" key="index">[[level.code]] - [[level.description]]</option>
                                    </select>
                                </div>
                            </li>
                            <li v-if="description_levels.level_2"  v-for="level_index in (level_depth)"> <!--- Object.keys(description_levels.level_2).length"> --->
                                <div class="select-wrapper">
                                    <select name="category" id="category" v-model="selected_index[level_index]" @change="set_description($event.target.value, level_index)">
                                        <option>-</option>
                                        <option v-for="(level, index) in selected_levels[level_index]" :value="index" key="index">[[level.code]] - [[level.description]]</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        
                        <p>Name: [[data]]<p>
                        <!-- <p>Age: [[data.age ]]</p> -->
                    </div>
                    <br/>
                    <div>
                        <input class="button fit" name="submit" value="Submit">
                    </div>
                </form>  
            </div>
            <br>
            <div class="12u">
                <div class="row uniform center">
                    <div class="12u">
                        <h1>message flask {{ message }}</h1>
                        <h1>result flask {{ result_1 }}</h1>
                        <h1>flask {{ result_3 }}</h1>
                        <h1>vue [[result_1]]</h1> <!-- Display data from vue.js -->
                        <h1>vue [[ message ]]</h1>
                        <p>flask {{ result }}</p> <!-- Display data from Flask -->
                        <p v-pre>flask {{ object.name }}</p> <!-- Display data from vue.js -->
                    </div>
                </div>
            </div>
            <br>
            <div>
                <div class="8u -2u">
                    <div class="row uniform center">
                        <div class="12u">
                            <br>
                            asdfasdfasdfsdafsdfasdf
                            <br>
                            <input v-model="result_1" placeholder="result_1">
                            <br>
                            <input v-model="result_2" placeholder="result_2">
                            <br>
                            asdfasdfsafsd
                        </div>
                    </div>
                </div>
			</form>
        </div>
    </div>
{% endblock %}

{% block end_script %}
<!-- Include main.js from static directory -->
<script type="module" src="/static/main.js"></script>
</script>


{% endblock %}